
/*media queries*/

@media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
    }
    .container-form {
      margin: 5%;
    }
  
    form {
      width: 100%;
    }
  }
  @media (max-width: 480px) {
    .btn-top {
      height: auto;
      padding: 0.7rem;
      margin: 1.2rem;
    }
    .btn-submit {
      width: 100%;
      margin: auto;
    }
    .terms-and-conditions {
      margin: 0.7rem;
      font-size: 0.8rem;
    }
    .error__img {
      left: 81%;
      width: 1.3rem;
    }
  }