@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Cutive&family=Kumbh+Sans:wght@200;700&family=Mohave&family=Mukta:wght@300&family=Nunito+Sans:ital,wght@0,300;0,400;1,400&family=PT+Serif&family=Poppins:wght@400;500;600&family=Quicksand:wght@300&family=Roboto+Mono:wght@200&family=Ubuntu+Condensed&display=swap");
 #root{
    --white: #fff;
 }

* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Poppins";
  width: 100vw;
  overflow-x: hidden;
  background-image: url("../images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
  opacity: 0.9;
  width: 100vw;
}
